body {
  font-size: 62.5%;
  font-family: "Arial", "Times New Roman", sans-serif;

  background-color: #b9b979;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 1024px;
  margin: 0 auto;
  padding: 30px;

  font-size: 1rem;
  color: inherit;

  background-color: #e1e1d0;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35%;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
}

section {
  margin: 10px;
  padding: 15px 25px;

  box-shadow: 0 0 10px #444422;
}

.personal {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 10px;
}

.personal > * {
  margin: 5px 0;
  align-self: center;

  color: #55552b;
}

.personal h1,
.personal p {
  text-align: center;

  color: #55552b;
}

h3 {
  margin-top: 15px;
  margin-bottom: 5px;
}

.left h3 {
  color: #b9b979;

  text-transform: uppercase;
}

.right h3 {
  color: #55552b;

  text-transform: uppercase;
}

span {
  margin-right: 10px;
}

a {
  color: inherit;
}

a:hover {
  color: #b9b979;

  text-decoration: underline;
}

.contact-info,
.skills,
.social,
.languages,
.summary {
  color: #ffffff;

  background-color: #55552b;
  border: 1px solid #55552b;
}

.personal,
.code-examples,
.working-experience,
.education {
  background-color: #fffffc;
  border: 1px solid #55552b;
}

.summary p {
  line-height: 1.5;
}

.skills:not(h3, hr) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.skill{
  float: left;
  width: 295px;
  margin: 5px 0;
}

.skill li {
  padding: 10px;
}

.working-experience .job {
  margin: 25px 0;
}

.job p {
  margin: 8px 0;
}

p.date {
  margin: 5px 0;

  color: #96964f;
}

.job strong,
.education strong {
  color: #444a08;
}

@media only screen and (max-width:640px) {
  .container {
    width: 100%;
    padding: 0;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
}
